{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}

<div class="container-fluid p-3">

  <h1 class="h1">About</h1>

  <hr>

  <div class="row mb-2">
    <div class="col-sm-3">Using apikey</div>
    <div class="col-sm-5">{{ config.apikey }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">Test endpoints</div>
    <div class="col-sm-5">{{ config.testendpoints }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">Database</div>
    <div class="col-sm-5">{{ config.database }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">App version</div>
    <div class="col-sm-5">{{ config.version }}</div>
  </div>

  <hr>

  <div class="row mb-2">
    <div class="col-sm-3">Batch records</div>
    <div class="col-sm-5">{{ config.batch_count }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">Device records</div>
    <div class="col-sm-5">{{ config.device_count }}</div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-3">Gravity records</div>
    <div class="col-sm-5">{{ config.gravity_count }}</div>
  </div>

  <hr>

  <div class="row mb-2">
    <div class="col-sm-12"><i>(c) 2023 Magnus Persson</i></div>
  </div>
</div>


{% endblock %}
