<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Brew Logger</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/bs-extension.css">
</head>

<!-- Confirm Delete Modal -->

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirm-delete-modal-label">Confirm deleting entry</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" name="delete-btn">Delete entry</button>
      </div>
    </div>
  </div>

  <script>
    const confirmDeleteModal = document.getElementById('confirm-delete-modal');
    
    confirmDeleteModal.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget;
      const id = button.getAttribute('data-bs-id');
      const callback = button.getAttribute('data-bs-callback');
      const value = button.getAttribute('data-bs-value');

      const body = confirmDeleteModal.querySelector('.modal-body');
      body.innerHTML = "Do you really want to delete entry: <b>" + value + "</b>.";

      const btn = confirmDeleteModal.querySelector('.modal-footer button[name="delete-btn"]');
      btn.addEventListener('click', event => {
        window[callback](id);
        $('#confirm-delete-modal').modal('hide')
      });
    });
  </script>
</div>

<body class="">
  <main class="d-flex flex-nowrap">

    {% set navigation_bar = [
      ('/', 'index', 'bi-house', 'Home' ),
      ('/html/device/', 'devices', 'bi-cpu', 'Devices'),
      ('/html/batch/', 'batches', 'bi-collection', 'Batches'),
      ('/html/setting/', 'settings', 'bi-gear', 'Settings'),
      ('/html/about/', 'about', 'bi-info-circle', 'About'),
    ] -%}

    {% set active_page = active_page|default('home') -%}

    <div class="d-flex flex-column flex-shrink-0 p-3 navbar-left">
      <h1 class="text-light">Brew logger</h1>
      <p class="text-light">{{ settings.version }}</h1>
      <hr class="text-light">
      <ul class="nav flex-column">
        {% for href, id, icon, caption in navigation_bar %}
        <li class="nav-item">
          <a class="nav-link rounded {% if id == active_page %}active{% endif%}" {% if id == active_page %}aria-current="page"{% endif%} href="{{ href }}"><i class="bi {{ icon }}"></i> {{ caption }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script>
      function lockScreen(flag) {
        let lstInput = document.querySelectorAll("input");
        Array.from(lstInput, i => {
          i.disabled = flag;
        });

        let lstButton = document.querySelectorAll("button");
        Array.from(lstButton, b => {
          b.disabled = flag;
        });

        let lstSelect = document.querySelectorAll("select");
        Array.from(lstSelect, s => {
          s.disabled = flag;
        });
      }
    </script>

  {% block content required %}

  {% endblock %}

  </main>
</body>
</html>
