{% extends "base.html" %}
{% set active_page = "batches" %}

{% block content %}

<div class="container-fluid p-3">

  {% include 'brewloggerapi.j2' %}

  <script>
    function deleteConfimedCallback(id) {
      api.deleteBatch(id, function(json, status, success) {
        if(success) {
          showSuccess("Record deleted.");
          setTimeout(function() { location.reload(); }, 500);
        } else {
          showError("Failed to delete record.");
        }
      });
    }

    async function synchronizeBrewfather() {
        await api.synchronizeBrewfather(function(json, status, success) {
          if(!success)
            showHttpError(status);
          else {
            showSuccess("Update competed, refreshing in 5 seconds.");
            setTimeout(function() { location.reload() }, 5000);
          }

          console.log("Status", status, json)
        });
      }

  </script>

  <h1 class="h1">Batch list</h1>

  <div class="row mb-2">
    <div class="col-sm-1 list-header">ID</div>
    <div class="col-sm-2 list-header">Name</div>
    <div class="col-sm-1 list-header">Chip ID</div>
    <div class="col-sm-1 list-header">Brew date</div>
    <div class="col-sm-1 list-header">Gravity #</div>
    <div class="col-sm-1 list-header">Pressure #</div>
    <div class="col-sm-1 list-header">Active</div>
    <div class="col-sm-2 list-header">Action</div>
  </div>

  {% for batch in batch_list %}
  <div class="row mb-2">
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.id }}</div>
    <div class="col-sm-2 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.name }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.chip_id }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.brew_date }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.gravity|length }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.pressure|length }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ batch.active }}</div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/html/batch/{{ batch.id }}?func=edit'"><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-bs-value="{{ batch.name }}" data-bs-callback="deleteConfimedCallback" data-bs-id="{{ batch.id }}"><i class="bi bi-file-x"></i></button>
      <button type="button" class="btn btn-info btn-sm" onclick="window.location='/html/batch/{{ batch.id }}?func=view'"><i class="bi bi-eye"></i></button>
      {% if (batch.gravity|length > 0) or (batch.pressure|length > 0) %}
      <button type="button" class="btn btn-success btn-sm" onclick="window.location='/html/batch/{{ batch.id }}?func=graph'"><i class="bi bi-graph-down-arrow"></i></button>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <div class="row mb-2">
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" onclick="event.preventDefault(); window.location.href='/html/batch/0?func=create'">Add new batch</button>
      {% if settings.brewfather_user_key != "" and settings.brewfather_api_key != "" %}
      <button type="button" class="btn btn-secondary" onclick="synchronizeBrewfather()">Synchronize with brewfather</button>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
