
<div class="alert alert-success alert-dismissible hide fade d-none" role="alert" id="alert">
    <div id="alert-msg"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<script>
    function showHttpError(code) {
    switch(code) {
        case 422: 
        showError("Unable to save data, data is invalid.");
        break;

        case 404: 
        showError("Unable to fetch data from the defined URL.");
        break;

        case 409: 
        showError("Duplicate, there is already a entry with this unique ID.");
        break;

        default:
        showError("Unknown error code: " + code);
        break;
    }
    }


    function showError(msg) {
    $('#alert').removeClass('alert-success').addClass('alert-danger').removeClass('hide').addClass('show').removeClass('d-none');
    $('#alert-msg').text(msg);
    }

    function showSuccess(msg) {
    $('#alert').addClass('alert-success').removeClass('alert-danger').removeClass('hide').addClass('show').removeClass('d-none');
    $('#alert-msg').text(msg);
    }

    $("#alert-btn").click(function (e) {
    $('#alert').addClass('hide').removeClass('show').addClass('d-none');
    });    
</script>

<script src="/static/brewloggerapi.js"></script>

<script>
    let api = new BrewLoggerAPI(window.location.origin, "{{ settings.api_key }}");
    {% if settings.javascript_debug_enabled == True %}
    api.setDebug(true);
    {% else %}
    api.setDebug(false);
    {% endif %}
</script>

