{% extends "base.html" %}
{% set active_page = "devices" %}

{% block content %}

<div class="container-fluid p-3">

  {% include 'brewloggerapi.j2' %}

  <script>
    function deleteConfimedCallback(id) {
      api.deleteDevice(id, function(json, status, success) {
        if(success) {
          showSuccess("Record deleted.");
          setTimeout(function() { location.reload() }, 500);
        } else {
          showError("Failed to delete record.");
        }
      });
    }
  </script>

  <h1 class="h1">Device list</h1>

  <div class="row mb-2">
    <div class="col-sm-1 list-header">ID</div>
    <div class="col-sm-3 list-header">MDNS</div>
    <div class="col-sm-1 list-header">Chip ID</div>
    <div class="col-sm-2 list-header">Chip Family</div>
    <div class="col-sm-2 list-header">Software</div>
    <div class="col-sm-2 list-header">Action</div>
  </div>

  {% for device in device_list %}
  <div class="row mb-2">
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.id }}</div>
    <div class="col-sm-3 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.mdns }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.chip_id }}</div>
    <div class="col-sm-2 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.chip_family }}</div>
    <div class="col-sm-2 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.software }}</div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/html/device/{{ device.id }}?func=edit'"><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-bs-value="{{ device.mdns }}" data-bs-callback="deleteConfimedCallback" data-bs-id="{{ device.id }}"><i class="bi bi-file-x"></i></button>
      <button type="button" class="btn btn-info btn-sm" onclick="window.location='/html/device/{{ device.id }}?func=view'"><i class="bi bi-eye"></i></button>
      <button type="button" class="btn btn-dark btn-sm" onclick="window.location='/html/batch/?chipId={{ device.chip_id }}'"><i class="bi bi-boxes"></i></button>
    </div>
  </div>
  {% endfor %}

  <div class="row mb-2">
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" onclick="event.preventDefault(); window.location.href='/html/device/0?func=create'">Add new device</button>
      <button type="button" class="btn btn-primary" onclick="openModalMDNS()">Locate devices</button>
    </div>
  </div>
</div>

<div class="modal fade" id="mdns-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="modal-header" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="mdns-modal-header">Register devices</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label" for="mdns-list">Devices</label>
        <div class="col-sm-10">
          <select class="form-select" id="mdns-list" name="mdns-list" data-bs-toggle="tooltip"
            title="List of devices found on network">
            <option value="">-none-</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" onclick="registerDevice()">Register Device</button>
    </div>
  </div>
</div>
</div>

<script>
  async function registerDevice() {
    key = JSON.parse(document.getElementById("mdns-list").value);
    console.log("Registering device " + JSON.stringify(key));
    lockScreen(true);

    url = "http://" + key["host"] + "/api/status";
    url = url.replace(":80/", "/");
    software = "";
    console.log("Fetching from: " + url);

    if(key["type"].startsWith("_gravitymon."))    
      software = "Gravitymon";
    else if(key["type"].startsWith("_kegmon."))    
      software = "Kegmon";
    else if(key["type"].startsWith("_pressuremon."))    
      software = "Pressuremon";

    api.proxyFetch(url, function(json, status, success) {
      if(!success) {
        showHttpError(status);
        lockScreen(false);
        mdnsModal.hide();
      } else {
        console.log("Received config from device: " + JSON.stringify(json));

        json = {
          "chipId": json["id"],
          "chipFamily": json["platform"],
          "software": software,
          "mdns": key["name"],
          "config": "",
          "url": "http://" + key["host"],
        };

        api.addDevice(json, function(json, status, success) {
          if(!success) {
            showHttpError(status);
          } else {
            showSuccess("Record added.");
            setTimeout(function() { location.reload(); }, 2000);
          }
          lockScreen(false);
          mdnsModal.hide();
        });
      }
    });
  }

  var mdnsModal;

  function openModalMDNS() {
    console.log("Opening modal");

    mdnsModal = new bootstrap.Modal(document.getElementById('mdns-modal'), { backdrop: true });    
    console.log(mdnsModal);

    document.getElementById('mdns-modal').addEventListener('shown.bs.modal', event => {
      console.log("Event -> modal show");
      lockScreen(true);
      findDevicesOnLocalNetwork();
    });

    document.getElementById('mdns-modal').addEventListener('hidden.bs.modal', event => {
      console.log("Event -> modal hidden");
      lockScreen(false);
    });

    mdnsModal.show();
  }

  function findDevicesOnLocalNetwork() {
    console.log("Searching for devices on the network");

    api.getMDNS(function(json, status, success) {
      if(success && json.length > 0) {
        console.log("data loaded, length=" + json.length);

        var list = document.getElementById("mdns-list");
        list.innerHTML = "";

        for (var i = 0; i <json.length; i++) {
          console.log(json[i]);
          var opt = document.createElement("option");
          opt.textContent = json[i]["name"] + " (" + json[i]["type"] + ")"; 
          opt.value = JSON.stringify(json[i]);
          list.appendChild(opt);
        }

        lockScreen(false);    
      } else {
        mdnsModal.hide();
        showError("Unable to locate devices on the network.");
      }
    });  
  }
</script>

{% endblock %}
