{% extends "base.html" %}
{% set active_page = "devices" %}

{% block content %}

<div class="container-fluid p-3">

  {% include 'brewloggerapi.j2' %}

  <script>
    function deleteConfimedCallback(id) {
      api.deleteDevice(id, function(json, status, success) { 
        if(success) {
          showSuccess("Record deleted, refreshing in 5 seconds.");
          setTimeout(function() { location.reload() }, 5000);
        } else {
          showError("Failed to delete record.");
        }       
      });
    }
  </script>

  <h1 class="h1">Device list</h1>

  <div class="row mb-2">
    <div class="col-sm-1 list-header">ID</div>
    <div class="col-sm-2 list-header">MDNS</div>
    <div class="col-sm-1 list-header">Chip ID</div>
    <div class="col-sm-2 list-header">Chip Family</div>
    <div class="col-sm-2 list-header">Software</div>
    <div class="col-sm-2 list-header">Action</div>
  </div>

  {% for device in device_list %}
  <div class="row mb-2">
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.id }}</div>
    <div class="col-sm-2 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.mdns }}</div>
    <div class="col-sm-1 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.chip_id }}</div>
    <div class="col-sm-2 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.chip_family }}</div>
    <div class="col-sm-2 {{ loop.cycle('row-odd', 'row-even') }}">{{ device.software }}</div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-sm" onclick="window.location='/html/device/{{ device.id }}?func=edit'"><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-bs-value="{{ device.mdns }}" data-bs-callback="deleteConfimedCallback" data-bs-id="{{ device.id }}"><i class="bi bi-file-x"></i></button>
      <button type="button" class="btn btn-info btn-sm" onclick="window.location='/html/device/{{ device.id }}?func=view'"><i class="bi bi-eye"></i></button>
    </div>
  </div>
  {% endfor %}

  <div class="row mb-2">
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" onclick="event.preventDefault(); window.location.href='/html/device/0?func=create'">Add new device</button>
    </div>
  </div>
</div>

{% endblock %}
