{% extends "base.html" %}
{% set active_page = "devices" %}

{% block content %}

<div class="container-fluid p-3">

  {% include 'brewloggerapi.j2' %}

  {% if func == 'view' %}
    <h1 class="h1">Device - {{ device.chip_id }} - View</h1>
    {% set readonly = 'disabled' %}
  {% elif func == 'create' %}
    <h1 class="h1">Device - Create new</h1>
    {% set readonly = '' %}
  {% else %}
    <h1 class="h1">Device - {{ device.chip_id }} - Edit</h1>
    {% set readonly = '' %}
  {% endif %}

  <form id="form" class="">
    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">Chip ID:</div>
      {% if func == 'create' %}
      <div class="col-sm-3"><input type="text" maxlength="6" class="form-control is-invalid" id="chip_id" value="{{ device.chip_id }}" placeholder="Ex: ab0125" required></div>
      <div class="invalid-feedback">
        ChipID must be a 6 letter string using only 0-9,A-F characters, example: 01A2B3.
      </div>
      {% else %}
      <div class="col-sm-3"><input type="text" class="form-control" id="chip_id" value="{{ device.chip_id }}" disabled readonly></div>
      {% endif %}
    </div>
    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">MDNS:</div>
      <div class="col-sm-3"><input type="text" maxlength="40" class="form-control" id="mdns" value="{{ device.mdns }}" {{ readonly }}></div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">Chip Family:</div>
      <div class="col-sm-3">
        <select class="form-select" id="chip_family"{{ readonly }}>

          {% set chip_list = [
            'unknown',
            'esp8266',
            'esp32',
            'esp32c3',
            'esp32s2',
            'esp32s3',
          ] -%}

          {% for chip in chip_list %}
          <option value="{{ chip }}" {% if chip == device.chip_family %} selected{% endif %}>{{ chip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">Software:</div>

      <div class="col-sm-3">
        <select class="form-select" id="software"{{ readonly }}>

          {% set software_list = [
            'unknown',
            'Kegmon',
            'Gravitymon',
            'Pressuremon',
            'Brewpi',
            'iSpindel',
          ] -%}

          {% for software in software_list %}
          <option value="{{ software }}"{% if software == device.software %} selected{% endif %}>{{ software }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">BLE Color:</div>
      <div class="col-sm-3">
        <select class="form-select" id="ble_color" {{ readonly }}>
          <option value="">-not active-</option>
          <option value="red">red</option>
          <option value="green">green</option>
          <option value="black">black</option>
          <option value="purple">purple</option>
          <option value="orange">orange</option>
          <option value="blue">blue</option>
          <option value="yellow">yellow</option>
          <option value="pink">pink</option>
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">Device URL:</div>
      <div class="col-sm-7"><input type="url" maxlength="80" class="form-control" id="url" value="{{ device.url }}" placeholder="http://devicename.local" {{ readonly }}></div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-secondary btn-sm" onclick="fetchConfigFromDevice()" data-bs-toggle="tooltip" data-bs-placement="top" title="Fetch configuration from device"><i class="bi bi-box-arrow-down"></i></button>
        <button type="button" class="btn btn-secondary btn-sm" onclick="detectDeviceType()" data-bs-toggle="tooltip" data-bs-placement="top" title="Detect device type based on configuration"><i class="bi bi-binoculars"></i></button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-2 col-form-label">Config:</div>
      <div class="col-sm-7"><input type="text" class="form-control" id="config" value="{{ device.config }}" placeholder="Will be fetched from device" disabled readonly></div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-2 col-form-label"></div>
      <div class="col-sm-4 col-form-label">
      {% if func == 'edit' %}
        <button type="button" class="btn btn-primary" onclick="saveDevice()">Save</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/html/device/'">Cancel</button>
      {% endif %}
      {% if func == 'create' %}
        <button type="button" class="btn btn-primary" onclick="createDevice()">Create</button>
      {% endif %}
        <button type="button" class="btn btn-secondary" onclick="event.preventDefault(); window.location.href='/html/device/'">List</button>
     </div>
    </div>
  </form>

  {% include 'validators.j2' %}

  <script>
    let chipId = document.getElementById("chip_id");

    if(chipId != null) {
      chipId.addEventListener("keyup", () => {
        validateChipId();
      });
    }

    function fetchConfigFromDevice() {
      lockScreen(true);

      api.proxyFetch(document.getElementById("url").value + "/api/config", function(json, status, success) {
        if(!success) {
          showHttpError(status);
        } else {
          console.log("Received config from device: " + JSON.stringify(json));
          document.getElementById("config").value = JSON.stringify(json);
        }
        lockScreen(false);
      });
    }

    function detectDeviceType() {
      lockScreen(true);

      json = JSON.parse(document.getElementById("config").value);

      if( json.hasOwnProperty("id") ) {
        if( document.getElementById("chip_id").value != json["id"] ) {
          showError("The ID in the configuration does not match the ID stored in the database")          
        }
      }

      if( json.hasOwnProperty("platform") ) {
        document.getElementById("chip_family").value = json["platform"];
      }

      if( json.hasOwnProperty("mdns") ) {
        document.getElementById("mdns").value = json["mdns"];
      }

      if( json.hasOwnProperty("pressure-zero-correction") ) {
        document.getElementById("software").value = "Pressuremon";
      }

      lockScreen(false);
    }

    function saveDevice() {
      lockScreen(true);

      json = {
        "chipFamily": document.getElementById("chip_family").value,
        "software": document.getElementById("software").value,
        "mdns": document.getElementById("mdns").value,
        "config": document.getElementById("config").value,
        "bleColor": document.getElementById("ble_color").value,
        "url": document.getElementById("url").value
      };

      console.log("Updating data: " + JSON.stringify(json));

      api.updateDevice({{ device.id }}, json, function(json, status, success) {
        if(!success) {
          showHttpError(status);
          lockScreen(false);
        } else {
          showSuccess("Record updated.");
          setTimeout(function() { window.location.href='/html/device/'; }, 500);
        }
      });
    }

    function createDevice() {
      lockScreen(true);

      const fields = document.querySelectorAll('.is-invalid')

      if( fields != null && fields.length>0) {
        showError("There are fields that contain invalida data, unable to create");
        return;
      }

      const form = document.getElementById('form');
      form.classList.add('was-validated');

      json = {
        "chipId": document.getElementById("chip_id").value,
        "chipFamily": document.getElementById("chip_family").value,
        "software": document.getElementById("software").value,
        "mdns": document.getElementById("mdns").value,
        "config": document.getElementById("config").value,
        "bleColor": document.getElementById("ble_color").value,
        "url": document.getElementById("url").value
      };

      console.log("Adding data: " + JSON.stringify(json));

      api.addDevice(json, function(json, status, success) {
        if(!success) {
          showHttpError(status);
          lockScreen(false);
        } else {
          showSuccess("Record added.");
          setTimeout(function() { window.location.href='/html/device/'; }, 500);
          // setTimeout(function() { window.location.href = "/html/device/" + json["id"] + "?func=edit"; }, 500);
        }
      });
    }
  </script>
</div>

{% endblock %}
