<!DOCTYPE html>
<meta charset="utf-8">
<title>Test Suite</title>
<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.20.0.css">
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="https://code.jquery.com/qunit/qunit-2.20.0.js"></script>
</body>

<script src="/static/brewloggerapi.js"></script>

<script>
    let api = new BrewLoggerAPI(window.location.origin, "{{ apikey }}");
    api.setDebug(true);

    QUnit.module('1. prepare', function() {

    QUnit.test('1. delete_database', function(assert) {
      const done = assert.async();
      api.deleteDatabase(function(json, status, success) {
        assert.equal(success, true);
        assert.notEqual(json, {});
        assert.equal(status, 204);
        done();
      });
    });
  });

  QUnit.module('8. health', function() {
    QUnit.test('1. response', function(assert) {
      const done = assert.async();
      api.getHealth(function(json, status, success) {
        assert.equal(success, true);
        assert.equal(JSON.stringify(json), JSON.stringify({ "status": "ok" }));
        done();
      });
    });
  });

  QUnit.module('2. device', function() {
    QUnit.test('1. device_list', function(assert) {
      const done = assert.async();
      api.addDevice({
        "chipId": "000000",
        "chipFamily": "",
        "software": "",
        "mdns": "",
        "config": "",
        "bleColor": "",
        "url": "" }, function(json, status, success) {
        api.getDeviceList(function(json2, status, success) {
          assert.equal(success, true);
          assert.notEqual(json2, {});
          assert.equal(status, 200);
          done();
        });
      });
    });

    QUnit.test('2. device_get', function(assert) {
      const done = assert.async();
      api.addDevice({
      "chipId": "000001",
      "chipFamily": "",
      "software": "",
      "mdns": "",
      "bleColor": "",
      "config": "",
      "url": "" }, function(json, status, success) {
        api.getDevice(json["id"], function(json2, status, success) {
          assert.equal(success, true);
          assert.notEqual(json2, {});
          assert.equal(status, 200);
          done();
        });
      });
    });

    QUnit.test('3. device_post', function(assert) {
      const done = assert.async();
      api.addDevice({
        "chipId": "000003",
        "chipFamily": "",
        "software": "",
        "mdns": "",
        "config": "",
        "bleColor": "",
        "url": "" }, function(json, status, success) {
        assert.equal(success, true);
        assert.notEqual(json["id"], 0);
        assert.equal(status, 201);
        done();
      });
    });

    QUnit.test('4. device_patch', function(assert) {
      const done = assert.async();
      api.getDeviceList(function(json, status, success) {
        api.updateDevice(json[0]["id"], {
          "chipId": "012345",
          "chipFamily": "",
          "software": "",
          "mdns": "",
          "config": "",
          "bleColor": "",
          "url": "" }, function(json2, status, success) {
          assert.equal(success, true);
          assert.notEqual(json2["id"], 0);
          assert.equal(status, 200);
          done();
        });
      });
    });

    QUnit.test('5. device_del', function(assert) {
      const done = assert.async();
      api.getDeviceList(function(json, status, success) {
        api.deleteDevice(json[0]["id"], function(json2, status, success) {
          assert.equal(success, true);
          assert.equal(JSON.stringify(json2), JSON.stringify({}));
          assert.equal(status, 204);
          done();
        });
      });
    });
  });

  QUnit.module('3. batch', function() {

    QUnit.test('1. batch_list', function(assert) {
      const done = assert.async();
      api.addBatch({
      "name": "",
      "chipId": "000001",
      "description": "",
      "brewDate": "",
      "style": "",
      "brewer": "",
      "brewfatherId": "",
      "active": true,
      "abv": 0.0,
      "ebc": 0.0,
      "ibu": 0.0 }, function(json, status, success) {
        api.getBatchList(function(json2, status, success) {
          assert.equal(success, true);
          assert.notEqual(json2, {});
          assert.equal(status, 200);
          done();
        });
      });
    });

    QUnit.test('2. batch_get', function(assert) {
      const done = assert.async();
      api.addBatch({
      "name": "",
      "chipId": "000001",
      "description": "",
      "brewDate": "",
      "style": "",
      "brewer": "",
      "brewfatherId": "",
      "active": true,
      "abv": 0.0,
      "ebc": 0.0,
      "ibu": 0.0 }, function(json, status, success) {
        api.getBatch(json["id"], function(json2, status, success) {
          assert.equal(success, true);
          assert.notEqual(json2, {});
          assert.equal(status, 200);
          done();
        });
      });
    });

    QUnit.test('3. batch_post', function(assert) {
      const done = assert.async();
      api.addBatch({
        "name": "Batch #1",
        "chipId": "012345",
        "description": "",
        "brewDate": "",
        "style": "",
        "brewer": "",
        "brewfatherId": "",
        "active": true,
        "abv": 0.0,
        "ebc": 0.0,
        "ibu": 0.0 }, function(json, status, success) {
        assert.equal(success, true);
        assert.notEqual(json["id"], 0);
        assert.equal(status, 201);
        done();
      });
    });

    QUnit.test('4. batch_patch', function(assert) {
      const done = assert.async();
      api.getBatchList(function(json, status, success) {
        api.updateBatch(json[0]["id"], {
          "name": "Batch #1",
          "chipId": "012345",
          "description": "",
          "brewDate": "",
          "style": "",
          "brewer": "",
          "brewfatherId": "",
          "active": true,
          "abv": 0.0,
          "ebc": 0.0,
          "ibu": 0.0 }, function(json2, status, success) {
          assert.equal(success, true);
          assert.notEqual(json2["id"], 0);
          assert.equal(status, 200);
          done();
        });
      });
    });

    QUnit.test('5. batch_del', function(assert) {
      const done = assert.async();
      api.getBatchList(function(json, status, success) {
        api.deleteBatch(json[0]["id"], function(json2, status, success) {
          assert.equal(success, true);
          assert.equal(JSON.stringify(json2), JSON.stringify({}));
          assert.equal(status, 204);
          done();
        });
      });
    });
  });

  QUnit.module('8. settings', function() {
    QUnit.test('1. set debug', function(assert) {
      const done = assert.async();
      data = {
        "javascript_debug_enabled": true
      };
      api.updateSetting(data, function(json, status, success) {
        assert.equal(success, true);
        assert.equal(json["javascript_debug_enabled"], true);
        done();
      });
    });
    QUnit.test('2. set debug', function(assert) {
      const done = assert.async();
      data = {
        "javascript_debug_enabled": false
      };
      api.updateSetting(data, function(json, status, success) {
        assert.equal(success, true);
        assert.equal(json["javascript_debug_enabled"], false);
        done();
      });
    });
  });

  QUnit.module('9. proxy', function() {
    QUnit.test('1. proxy_get', function(assert) {
      const done = assert.async();
        if(window.location.origin.endsWith("8080"))
          url = "http://web:8080/health"; // When running in docker
        else
          url = "http://localhost:8000/health"; // WHen runnimg on desktop

        api.proxyFetch(url, function(json, status, success) {
          assert.equal(success, true);
          assert.equal(JSON.stringify(json), JSON.stringify({ "status": "ok" }));
        done();
      });
    });
  });

</script>
