# mdns-repeater
# ------------------------------------------------------------------------------

# USE_MDNS_REPEATER is a flag that will disable the repeater (generally leave this set to 1)
USE_MDNS_REPEATER=1

# EXTERNAL_INTERFACE is the interface name of the external (host) interface
EXTERNAL_INTERFACE=wlan0

# DOCKER_NETWORK_NAME is the name of the docker network that we want to bridge
# (used to look up the bridge network name)
DOCKER_NETWORK_NAME=walled

# OPTIONS are (optional) options to be passed to mdns-repeater
OPTIONS=
