main {
  height:100vh;
  background-color: lightgrey;
}

.navbar-left {
  width: 280px;
  background-color: #5c6bc0;
}

.nav-link {
  color: white;
}

.nav-link.disabled {
  color: darkgray;
}

.nav-item {
  font-weight: bold;
}

.active {
  color: white;
  background-color: #3949ab;
}

.btn-primary {
  background-color: #3949ab;
}

.list-header {
  color: white;
  background-color: #5c6bc0;
}

.row-even {

  background-color: white;
}

.row-odd {
}
